body {
    text-align: center;
    background-color: #dcdcdc;
}

/* main {
    margin: auto;
} */

#served-gif {
    text-align: center;
}

#motivational-button {
    text-align: right;
}

#animal-button {
    text-align: left;
}

#not-cute-button {
    text-align: center;
}

#settings {
    /* background-color: #ee6e73; */
    height: 200px;
    border: solid;
}

#contact {
    height: 100px;
    background-color: #dcdcdc;
}

/* img {
    border: solid;
} */

/* .nav-wrapper {
    width: 100%;
} */

form {
    text-align: center;
}

footer {
    height: 40px;
    background-color: #ee6e73;
    padding-top: 10px;
}
