@font-face {
    font-family: 'Hairy Beard';
    src: url('HairyBeard.woff2') format('woff2'),
        url('HairyBeard.woff') format('woff'),
        url('HairyBeard.svg#HairyBeard') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

